.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 50px;
    margin-top: 30px;
  }
  
  .row1 .col1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 250px;
    border-radius: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding-left: 15px;
  }
  
  .row1 .col1 img {
    max-width: 380px;
    padding: 5px;
    /* margin: 20px; */
  }
  
  .row1 .section2 {
    display: flex;
    flex-direction: row;
  
  }
  
  .row1 .col1 .statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .row1 .col1 .statistics .appointments #title {
    font-size: large;
  }
  
  .row1 .col1 .statistics .patient-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .row1 .col1 .statistics .patient-details .white-bg label {
    display: block;
    margin: 4px;
    padding-bottom: 5px;
  }
  
  .row1 .col1 .statistics .patient-details .white-bg {
    background-color: white;
    opacity: 0.7;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  
  }
  
  .row1 .col2,
  .row1 .col3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    max-width: 380px;
    margin: 0 20px;
    max-height: 250px;
    padding: 25px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .row1 .col3 {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  
  .row1 .col2 img,
  .row1 .col3 img {
    width: 45%;
    padding: 15px 0;
  }
  
  .row1 .col2 .contents,
  .row1 .col3 .contents {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    color: white;
    padding: 10px 0px;
  }
  
  .row2 {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
  }
  
  
  .row2 .col1 {
    display: flex;
    flex-direction: row;
    max-width: 640px;
  }
  
  .row2 .col1 .section1,
  .row2 .col1 .section2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 320px;
    justify-content: center;
  }
  
  .row2 .col1 .section1,
  .row2 .col1 .section2 {
  
    h2 {
      text-align: center;
    }
  
    .cards {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #fafafa;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 20px auto;
    }
  
    .cards {
      .card {
        padding: 10px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  
        &:not(:last-child) {
          margin-bottom: 5px;
        }
  
        a {
          text-decoration: none;
          color: inherit;
        }
  
        .inner {
          display: table;
          overflow: hidden;
        }
  
        p {
          margin: 0;
        }
  
        .avatar-holder,
        .info-holder {
          display: table-cell;
          vertical-align: middle;
        }
  
        .avatar-holder {
          padding-right: 10px;
  
          .named-avatar {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: var(--primary-dark);
            border-radius: 50%;
            line-height: 32px;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
          }
        }
  
        .name {
          font-size: 16px;
          padding: 5px;
          font-weight: bold;
        }
  
        .score {
          font-size: 14px;
          padding-left: 5px;
          font-weight: 600;
          color: var(--primary-dark);
        }
      }
    }
  }
  
  .row2 .col2 {
    width: 730px;
    margin:10px;
  }
  .row2 .col2 {
    text-align: center;
  }
  
  @media screen and (max-width: 1200px) {
    .main-container .row1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .main-container .col1,
    .col2,
    .col3 {
      margin: 20px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .main-container .row1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .main-container .row1 .col1 {
      max-width: 90%;
    }
  
    .main-container .row1 .col1 .appointments {
      text-align: center;
      padding: 5px;
    }
  
    .main-container .row1 .section2 .col2 {
      padding: 10px;
    }
  
    .main-container .row1 .section2 .col3 {
      padding: 10px;
    }
  
    .main-container .row1 .col1 img {
      display: none;
    }
  
    .main-container .row1 .section2 {
      flex-direction: column;
      justify-content: center;
    }
  
    .main-container .row1,
    .section2 .col3 {
      margin-top: 40px;
    }
  
    .row2 .col1 {
      flex-direction: column;
    }
    .row2 {
      flex-direction: column;
    }
      .row2 .col2{
        width:80%;
      }
  
    /* .main-container .row1, .col3 {
              margin-top: 40px;
      } */
  }
  
  
  /* ---------------------------------------------------------- */
  /* Table */
  /* ---------------------------------------------------------- */
  .status-cured {
    justify-content: center;
    border-radius: 22px;
    border: 1px solid #41bc63;
    background-color: #ebf9f1;
    flex-grow: 1;
    color: #41bc63;
    padding: 8px 33px;
    font: 12px Playfair Display, sans-serif;
  }
  .status-severe {
    justify-content: center;
    border-radius: 22px;
    border: 1px solid #bc9241;
    background-color: #fbf9f4;
    flex-grow: 1;
    color: #bc9241;
    padding: 8px 28px;
    font: 12px Playfair Display, sans-serif;
  }
  .status-on-going {
    justify-content: center;
    border-radius: 22px;
    border: 1px solid #bc4141;
    background-color: #fbf4f4;
    flex-grow: 1;
    color: #bc4141;
    padding: 8px 28px;
    font: 12px Playfair Display, sans-serif;
  }