* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  
}

:root {
  
  --red: #f40d30;
  --primary: #0073C2;
  --primary-dark: #0073C2;
  --green: #009879;
  --yellow: #FFDF00;
  --light-pink: #F987C5;
  --pink: #F62088;
  --gold: #FFB000;
  --red-hover: #f85a40;
  --black: #000000;
  --dark-red: #8b0000;
}

a {
  color: black;
}

button {
  cursor: pointer;
}

body {
  background: white;
  color: #fff;
}

::placeholder {
  text-transform: capitalize;
}
